.DS_Store
.idea
*.log
.cache/
.parcel-cache/
tmp/
dist/
node_modules/

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

# Tmp testing things
/files
/org/meeting*
/org/*.png
/org/media/
sample-book/

# Rust things
target/
debug/
Cargo.lock
