.DS_Store
.idea
*.log
.cache/
.parcel-cache/
tmp/
dist/
node_modules/

# Tmp testing things
/files
/org/meeting*
/org/*.png
/org/media/

# Rust things
target/
debug/
.rustfmt.toml

# Elm things
elm-stuff/
