[config]
skip_core_tasks = true
default_to_workspace = false

[tasks.watch-front]
script = "cargo watch -x 'install --path crates/aquascope_front --debug --offline'"

[tasks.watch-mdbook]
script = "cargo watch -x 'install --path crates/mdbook-aquascope --debug --offline'"

[tasks.watch-server]
script = "cargo run --features=no-docker"

[tasks.watch.run_task]
name = ["watch-front", "watch-server", "watch-mdbook"]
parallel = true

[tasks.init-bindings]
script = """
cargo test -p aquascope export_bindings
mkdir -p frontend/packages/aquascope-editor/src/bindings
cp crates/**/bindings/* frontend/packages/aquascope-editor/src/bindings"""