[config]
skip_core_tasks = true
default_to_workspace = false

[tasks.watch-cargo]
script = "cargo watch -x 'install --path crates/aquascope_front --debug --offline'"
install_crate = { crate_name = "cargo-watch" }

[tasks.watch-server]
script = "cargo run --features=no-docker"

[tasks.watch.run_task]
name = ["watch-cargo", "watch-server"]
parallel = true

[tasks.init-bindings]
script = """
cargo test export_bindings
mkdir -p frontend/packages/aquascope-editor/src/bindings
cp crates/**/bindings/* frontend/packages/aquascope-editor/src/bindings"""