[package]
authors = ["Gavin Gray <gagray@ethz.ch>"]
name = "aquascope_serve"
version = "0.1.0"
edition = "2021"

[dependencies]
aquascope_front = {version = "0.1", path = "../aquascope_front"}
async-trait = "0.1.52"
axum = { version = "0.5", features = ["headers"] }
axum-macros = "0.2"
# dotenv = "0.15.0"
env_logger = "0.9.0"
# futures = "0.3.21"
# lazy_static = "1.0.0"
log = "0.4.0"
# octocrab = "0.17"
# openssl-probe = "0.1.2"
# petgraph = "0.6.0"
# prometheus = "0.13.0"
# regex = "1.0.0"
# rustc-demangle = "0.1.5"
serde = { version = "1.0", features = ["rc", "derive"] }
serde_json = "1.0"
snafu = "0.7.0"
# strum = { version = "0.24.0", features = ["derive"] }
# tempfile = "3"
tokio = { version = "1.9", features = ["macros", "time", "process", "rt-multi-thread"] }
tower-http = { version = "0.3", features = ["cors", "fs", "set-header", "trace"] }
