$monospace: "Source Code Pro", monospace;

@mixin button {
  opacity: 0;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 3px 5px;
  margin: 0px 5px;
  transition: 100ms;
  transition-property: color, border-color, background-color, opacity;
  cursor: pointer;
}

.aquascope {
  position: relative;
  height: 100%;
  width: 100%;

  .aquascope-loan {
    text-decoration: underline 3px rgba(255, 255, 255, 0);
    transition: 1s all;
  }

  .aquascope-live-region {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    transition: 1s all;
  }

  .aquascope-stderr {
    padding: 15px;
    background-color: #f9ffff;
    font-family: $monospace;
    font-size: 0.9em;
    overflow: scroll;
  }

  span.cm-region-end {
    font-family: "Verdana", sans-serif, bold;
    text-align: center;
    vertical-align: bottom;
    padding: 0;
    display: inline-block;
    width: 0;
    overflow: hidden;
    transition: 1s all;
  }

  .top-right {
    z-index: 10;
    position: absolute;
    top: 8px;
    right: 2px;
  }

  .cm-button {
    @include button;
  }

  &:hover .cm-button {
    opacity: 1;
  }

  cm-tooltip-cursor {
    font-size: 0.8em;
    background-color: whitesmoke;
    border-color: gainsboro;
    border: 2px;
    padding: 2px 7px 2px 2px;
    border-radius: 4px;

    &.cm-tooltip-arrow ::before {
      border-top-color: whitesmoke;
    }
    & .cm-tooltip-arrow ::after {
      border-top-color: transparent;
    }
  }

  .cm-scroller {
    overflow: auto;
  }

  /* Permission Steps */
  .perm-step-widget {
    display: inline-block;
    color: #ccc;
    position: relative;
    top: 0.5em;
  }

  .perm-step-table {
    background-color: whitesmoke;
    display: inline-block;

    border: 2px solid;
    border-color: gainsboro;
    border-radius: 4px;
    color: black;

    margin-bottom: 5px;
    position: relative;
    bottom: 3px;
  }

  table.perm-step-table {
    vertical-align: top;
    border-collapse: collapse;
  }

  .perm-step-table tr td {
    border: 1px dotted;
    border-color: gainsboro;
  }

  span.perm-diff-add {
    color: rgb(93, 202, 54);
  }

  span.perm-diff-sub {
    color: rgb(255, 66, 68);
  }

  spen.perm-diff-none {
    color: black;
  }

  span.perm-diff-none-high {
    color: black;
  }

  span.perm-diff-none-low {
    color: black;
    // opacity: 0.4;
  }

  .aquascope-action-indicator {
    // color: var(--icons);
    // border-color: var(--icons);
    font-size: 0.9em;
  }
}

.step-marker {
  display: inline-block;
  border-radius: 4px;
  padding: 0 2px;
  background: white;
  border: 1px solid black;

  .cm-editor & {
    margin: 2px 6px 0;
  }

  > span {
    font-size: 0.8em;
    color: black;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    font-weight: bold;
  }
}

.interpreter {
  background: white;
  padding: 1rem;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  overflow-x: auto;
  position: relative;

  .concrete-types {
    position: absolute;
    top: 1rem;
    right: 1rem;

    @include button;
  }

  .step {
    // border: 1px solid #ccc;
    // padding: 0.5em;
    // border-radius: 8px;

    .header {
      position: relative;

      .header-text {
        position: relative;
        z-index: 12;
      }

      .header-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        background: white;
        opacity: 0.8;
      }
    }

    .step-header {
      margin-bottom: 5px;

      .step-marker {
        font-size: 18px;
        font-family: $monospace;
      }
    }

    .memory-header {
      margin-bottom: 5px;
      font-weight: bold;
    }

    .memory-container {
      display: flex;
      flex-direction: row;
      gap: 80px;
      padding-left: 10px;

      .memory {
        border: 1px dashed #ccc;
        padding: 0.7rem;
        height: max-content;

        .frames {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .frame-header {
            font-family: $monospace;
          }

          .empty-frame {
            font-size: 0.85em;
          }
        }
      }
    }

    h2 {
      margin-top: 0;
      font-size: 18px;
      font-weight: bold;
    }

    code {
      font-size: 0.8em;
    }

    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      font-family: $monospace;
      // display: inline-block;

      td {
        border: 1px solid #ccc;
        transition: width 1s, height 1s;
      }
    }
  }
}

.leader-line {
  z-index: 10;
}
