.aquascope {
  position: relative;
  height: 100%;
  width: 100%;

  .aquascope-loan {
    text-decoration: underline 3px rgba(255, 255, 255, 0);
    transition: 1s all;
  }

  .aquascope-live-region {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    transition: 1s all;
  }

  .aquascope-stderr {
    padding: 15px;
    background-color: #f9ffff;
    font-family: "Source Code Pro", monospace;
    font-size: 0.9em;
    overflow: scroll;
  }

  span.cm-region-end {
    font-family: "Verdana", sans-serif, bold;
    text-align: center;
    vertical-align: bottom;
    padding: 0;
    display: inline-block;
    width: 0;
    overflow: hidden;
    transition: 1s all;
  }

  .top-right {
    z-index: 10;
    position: absolute;
    top: 8px;
    right: 2px;
  }

  .cm-button {
    opacity: 0;
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 3px 5px;
    margin: 0px 5px;
    transition: 100ms;
    transition-property: color, border-color, background-color, opacity;
    cursor: pointer;
  }

  &:hover .cm-button {
    opacity: 1;
  }

  cm-tooltip-cursor {
    font-size: 0.8em;
    background-color: whitesmoke;
    border-color: gainsboro;
    border: 2px;
    padding: 2px 7px 2px 2px;
    border-radius: 4px;

    &.cm-tooltip-arrow ::before {
      border-top-color: whitesmoke;
    }
    & .cm-tooltip-arrow ::after {
      border-top-color: transparent;
    }
  }

  .cm-scroller {
    overflow: auto;
  }

  /* Permission Steps */
  .perm-step-widget {
    display: inline-block;
    color: #ccc;
  }

  .perm-step-table {
    background-color: whitesmoke;
    display: inline-block;

    border: 2px solid;
    border-color: gainsboro;
    border-radius: 4px;
    color: black;

    margin-bottom: 5px;
    position: relative;
    bottom: 3px;
  }

  table.perm-step-table {
    vertical-align: top;
    border-collapse: collapse;
  }

  .perm-step-table tr td {
    border: 1px dotted;
    border-color: gainsboro;
  }

  span.perm-diff-add {
    /* display: inline-block; */
    color: rgb(93, 202, 54);
  }

  spen.perm-diff-none {
    /* display: inline-block; */
    color: lightgray;
  }

  span.perm-diff-sub {
    /* display: inline-block; */
    color: rgb(255, 66, 68);
  }

  .aquascope-action-indicator {
    // color: var(--icons);
    // border-color: var(--icons);
    font-size: 0.9em;
  }

  /* **************** */
}

.interpreter {
  background: white;
  padding: 1em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  width: 500px;

  .step {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 0.5em;
    border-radius: 8px;

    > div {
      flex: 1;
    }

    h2 {
      margin-top: 0;
      font-size: 18px;
      font-weight: bold;
    }

    code {
      font-size: 0.8em;
    }

    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      font-family: 'Source Code Pro', monospace;

      td { 
        border: 1px solid #ccc;
      }
    }
  }
}