$monospace: "Source Code Pro", monospace;
$transparent: rgba(0, 0, 0, 0);

:root {
  --aq-bg: white;
  --aq-fg: black;

  // Colors for permission stacks
  --aq-read-color: #4ebeef;
  --aq-write-color: #ba18e7;
  --aq-drop-color: #ffa500;

  // Permission stacks colors for use with CSS color mixing
  --aq-read-rgb-color: 78, 190, 239;
  --aq-write-rgb-color: 186, 24, 231;
  --aq-drop-rgb-color: 255, 165, 0;

  // For step table permission colors
  --aq-perm-gain-color: #5dca36;
  --aq-perm-loss-color: #ff4244;

  --aq-error: red;
  --aq-error-text: white;

  --aq-button-border: gray;
  --aq-button-text: gray;
  --aq-button-background: lightgray;
  --aq-button-border-hover: black;
  --aq-button-text-hover: black;
  --aq-button-background-hover: white;

  --aq-step-widget-text: #ccc;
  --aq-step-table-text: black;
  --aq-step-table-border: gainsboro;
  --aq-step-table-background: whitesmoke;
}

$base-z-index: 10;
$glyph-width: 14px;

@mixin button {
  background-color: var(--aq-button-background);
  color: var(--aq-button-text);
  opacity: 0;
  font-size: 14px;
  border: 1px solid var(--aq-button-border);
  border-radius: 4px;
  padding: 3px 5px;
  margin: 0px 5px;
  transition: 100ms;
  transition-property: color, border-color, background-color, opacity;
  cursor: pointer;

  &:hover {
    background-color: var(--aq-button-background-hover);
    color: var(--aq-button-text-hover);
    border-color: var(--aq-button-border-hover);
  }
}

.aquascope {
  position: relative;
  height: 100%;
  width: 100%;

  .aquascope-stderr {
    padding: 15px;
    background-color: #f9ffff;
    font-family: $monospace;
    font-size: 0.9em;
    overflow: scroll;
  }

  span.cm-region-end {
    font-family: "Verdana", sans-serif, bold;
    text-align: center;
    vertical-align: bottom;
    padding: 0;
    display: inline-block;
    width: 0;
    overflow: hidden;
    transition: 1s all;
  }

  .top-right {
    z-index: $base-z-index;
    position: absolute;
    top: 8px;
    right: 2px;
  }

  .cm-button {
    @include button;
  }

  &:hover .cm-button {
    opacity: 1;
  }

  cm-tooltip-cursor {
    font-size: 0.8em;
    background-color: whitesmoke;
    border-color: gainsboro;
    border: 2px;
    padding: 2px 7px 2px 2px;
    border-radius: 4px;

    &.cm-tooltip-arrow ::before {
      border-top-color: whitesmoke;
    }
    & .cm-tooltip-arrow ::after {
      border-top-color: transparent;
    }
  }

  .cm-scroller {
    overflow: auto;
    z-index: inherit;
  }

  .cm-line.hidden-line {
    display: none;
  }

  .show-hidden .cm-line.hidden-line {
    display: block;
    opacity: 0.6;
  }

  /* Loan Highlighting */

  .aquascope-loan {
    text-decoration: underline 3px $transparent;
    transition: 1s all;

    &.show-hidden {
      &.read {
        text-decoration: underline 3px var(--aq-read-color) !important;
      }

      &.write {
        text-decoration: underline 3px var(--aq-write-color) !important;
      }

      &.drop {
        text-decoration: underline 3px var(--aq-drop-color) !important;
      }
    }
  }

  .aquascope-live-region {
    background-color: $transparent;
    border-radius: 5px;
    transition: 1s all;

    &.show-hidden {
      &.read {
        background-color: rgba(var(--aq-read-rgb-color), 0.4) !important;
      }

      &.write {
        background-color: rgba(var(--aq-write-rgb-color), 0.4) !important;
      }

      &.drop {
        background-color: rgba(var(--aq-drop-rgb-color), 0.4) !important;
      }
    }
  }

  /* Permission Boundaries */

  .permission-stack {
    display: inline-block;
    position: relative;    

    &.expects-write {
      margin-left: 2px;
      margin-right: 2px;
    }

    &:not(.expects-write) {
      margin-right: 1px;   
      margin-left: 2px;       
    }
   
    &.before-whitespace {
      margin-left: -3px;
    }    

    &.stack-size-1 {
      top: 2px;
    }

    &.stack-size-2 {
      top: 7px;
      margin-top: -3px;
      margin-bottom: 3px;
    }
  }

  svg.permission {
    stroke-width: 2;
    paint-order: stroke;
    width: $glyph-width + 1px;
    height: 2 * $glyph-width;

    > text {
      font-family: "Verdana";
      font-weight: bold;
      font-size: $glyph-width;

      &.read {
        stroke: var(--aq-read-color);
        fill: var(--aq-read-color);
      }

      &.write {
        stroke: var(--aq-write-color);
        fill: var(--aq-write-color);
      }

      &.drop {
        stroke: var(--aq-drop-color);
        fill: var(--aq-drop-color);
      }

      &:not(.missing) {
        stroke-width: 0;
      }

      &.missing {
        stroke-width: 1;
        fill: $transparent !important;
      }
    }
  }

  .permission-row {

    > span {
      font-family: "Verdana";
      font-size: $glyph-width;
      display: inline-block;
      width: $glyph-width;
      text-align: center;

      // Specific to the step tables
      &.perm-diff-add {
        color: var(--aq-perm-gain-color);        
      }

      &.perm-diff-sub {
        color: var(--aq-perm-loss-color);        
      }

      &.perm-diff-none {
        color: var(--aq-fg);        
      }

      &perm-diff-none-high {
        color: var(--aq-fg);        
      }

      &.perm-diff-none-low {
        color: var(--aq-fg);        
      }
    }
  }

  /* Permission Steps */
  .hidden-width {
    display: none !important;
  }

  .hidden-height {
    height: 0px;
  }

  .step-widget-toggle {
    cursor: pointer;

    &:hover {
      color: var(--aq-fg);
    }
  }

  .perm-step-widget {
    display: inline-block;
    color: var(--aq-step-widget-text);
    position: relative;
    top: 0.5em;
  }

  .step-widget-container {
    overflow: hidden;
    display: inline-flex;
    justify-content: start;
  }

  .step-table-dropdown {
    font-size: 0.7em;
    max-height: 15px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    color: var(--aq-step-widget-text);
  }

  .step-table-container {
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    display: inline-flex;
    margin-bottom: 5px;

    background-color: var(--aq-step-table-background);
    border: 2px solid var(--aq-step-table-border);
    border-radius: 4px;

    // So the table appears above the Ferris icon
    position: relative;
    z-index: 100;
  }

  .perm-step-table,
  .step-table-container {
    color: var(--aq-step-table-text);

    td {
      padding: 1px 4px;
    }
  }

  table.perm-step-table {
    vertical-align: top;
    border-collapse: collapse;
  }

  .perm-step-table tr td {
    border: 1px dotted;
    border-color: var(--aq-step-table-border);
  }

  .contains-hidden .perm-step-table tr {    
    td:first-child {
      border-left: none;
    }

    td:last-child {
      border-right: none;
    }    
  }

  span.perm-diff-add {
    color: var(--aq-perm-gain-color);
  }

  span.perm-diff-sub {
    color: var(--aq-perm-loss-color);
  }

  span.perm-diff-none {
    color: var(--aq-step-table-text);
  }

  span.perm-diff-none-high {
    color: var(--aq-step-table-text);
  }

  span.perm-diff-none-low {
    color: var(--aq-step-table-text);
    // opacity: 0.4;
  }

  .aquascope-action-indicator {
    // color: var(--icons);
    // border-color: var(--icons);
    font-size: 0.9em;
  }
}

.step-marker {
  display: inline-block;
  border-radius: 4px;
  padding: 0 2px;
  background: var(--aq-bg);
  border: 1px solid var(--aq-fg);

  .cm-editor & {
    margin: 2px 6px 0;
  }

  > span {
    font-size: 0.8em;
    color: var(--aq-fg);
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    font-weight: bold;
  }

  &.fail {
    background: var(--aq-error);

    > span {
      color: var(--aq-error-text);
    }
  }
}

.interpreter {
  background: var(--aq-bg);
  padding: 1rem;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  overflow-x: auto;
  position: relative;

  .concrete-types {
    position: absolute;
    top: 1rem;
    right: 1rem;

    @include button;

    &.active {
      border-color: var(--aq-fg);
      background-color: var(--aq-bg);
      color: var(--aq-fg);
    }
  }

  .step {
    .header {
      position: relative;

      .header-text {
        position: relative;
        z-index: $base-z-index + 2;
      }

      .header-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $base-z-index + 1;
        background: var(--aq-bg);
        opacity: 0.8;
      }
    }

    .step-header {
      margin-bottom: 5px;

      .step-marker {
        font-size: 18px;
        font-family: $monospace;
      }

      .undefined-behavior {
        margin-left: 10px;
        color: var(--aq-error);
      }
    }

    .memory-header {
      margin-bottom: 5px;
      font-weight: bold;
    }

    .memory-container {      
      position: relative;

      .memory-container-flex {
        display: flex;
        flex-direction: row;
        gap: 80px;
        padding-left: 10px;
      }

      .memory {
        border: 1px dashed var(--aq-step-table-border);
        padding: 0.7rem;
        height: max-content;

        .frames {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .frame-header {
            display: inline-block;
            font-family: $monospace;
          }

          .empty-frame {
            font-size: 0.85em;
          }
        }
      }
    }

    h2 {
      margin-top: 0;
      font-size: 18px;
      font-weight: bold;
    }

    code {
      font-size: 0.8em;
    }

    table.locals,
    .heap > table {
      border: 2px solid var(--aq-step-table-border);

      > tbody > tr > td {
        border-width: 2px;
        padding: 4px 6px;
      }
    }

    table {
      border: 1px solid var(--aq-step-table-border);
      border-collapse: collapse;
      font-family: $monospace;

      &.array {
        border: none;

        td {
          border-top: none;
          border-bottom: none;

          &:first-child {
            border-left: none;
          }

          &:last-child {
            border-right: none;
          }
        }
      }

      td {
        border: 1px solid var(--aq-step-table-border);
        transition: width 1s, height 1s;
      }
    }

    .unallocated {
      &.error {
        display: inline-block;
        width: 1.2em; // should be same as line-height

        color: var(--aq-error);
        border: 1px dashed var(--aq-error);
        border-radius: 50%;
        text-align: center;
      }
    }
  }
}

.leader-line {
  z-index: $base-z-index;
}
