@import "aquascope-editor/dist/lib.css";

/* span configuration */

html,
body {
  padding: 3em;
  height: 100%;
  font-family: "Verdana", sans-serif;
  font-size: 18px;
  background-color: white;
}

span.scp {
  font-variant: small-caps;
  font-weight: bolder;
}

div.center {
  width: 100%;
  text-align: center;
}

div.blurb {
  width: 50%;
  display: inline-block;
  margin: auto;
  padding: 5px;

  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  border-color: #e8e8e8;
  background-color: #f5f5f5;

  margin-bottom: 4em;
}

nav {
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 30px;
  padding-right: 10px;
}

.nav-item {
  display: inline-block;
  padding: 10px 15px;
  font-weight: bold;
  color: white;
}

.nav-item:hover {
  color: #f5f5f5;
}

.static-editor {
  height: 100%;
  width: 100%;
  max-height: 700px;
  max-width: 1200px;
}

.top-right {
  z-index: 10;
  position: absolute;
  top: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.cm-button {
  padding: 5px 10px;
  background: #f5f5f5;
  display: inline-block;

  border-width: 1px;
  border-color: #e8e8e8;
  border-radius: 2px;
}

.dropdown {
  /* position: absolute; */
  display: inline-block;
}

.dropdown-content {
  display: none;
  padding: 12px 6px;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content label {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 0.8rem;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.cm-button:hover,
.dropdown:hover .btn {
  background-color: #ddd;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e8e8e8;
}

.container:hover input ~ .checkmark {
  background-color: #ddd;
}

.container input:checked ~ .checkmark {
  background-color: #ddd;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* XXX: tabs **************************************** */

.tabs-container {
  height: 100%;
  width: 100%;
  max-height: 700px;
  max-width: 900px;

  padding-left: 25px;
}

.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: -1px;
}

.tab {
  font-family: monospace;
  padding: 5px 10px;
  background: white;
  width: fit-content;
  display: inline-block;
  border: 1px white;
  border-radius: 2px;
}

.tab.active {
  background: #f5f5f5;
  border-bottom-color: #f5f5f5 !important;
}

.tab-pane {
  height: 100%;
  width: 100%;
  max-height: 700px;
  max-width: 900px;

  position: relative;
  /* padding-left: 25px; */

  display: none;
  border: 1px solid #e8e8e8;
}
.tab-pane.active {
  display: block;
}

/* XXX: editor **************************************** */

.cm-editor {
  height: 100%;
  width: 100%;

  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  border-color: #e8e8e8;

  background-color: white;
}

a {
  text-decoration: none;
  transition: 0.25s all ease;
}

a:hover {
  opacity: 50%;
}
