/* span configuration */

html, body {
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    background-color: lightgray;
}

nav {
    width: 100%;
    background-color: firebrick;
    padding-left: 30px;
    padding-right: 10px;
}

.nav-item {
  display: inline-block;
  padding: 10px 15px;
  font-weight: bold;
  color: white;
}

.nav-item:hover {
    color: whitesmoke;
}

#editor {
    padding-left: 25px;
}

.cm-editor {
    height: 100%;

    max-height: 600px;
    max-width: 700px;

    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: #bbb;

    background-color: white;
}
.cm-scroller {
    overflow: auto;
}
