name: setup
runs:
  using: composite
  steps:
    - name: Stable rustc
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - uses: davidB/rust-cargo-make@v1
      with:
        version: '0.36.4'
    - uses: actions-rs/install@v0.1
      with:
        crate: cargo-insta
        version: latest
        use-tool-cache: true
    - name: Gen bindings
      run: cargo make init-bindings
      shell: bash
    - name: Install Depot
      run: curl https://raw.githubusercontent.com/cognitive-engineering-lab/depot/main/scripts/install.sh | sh
      shell: bash
    - name: Prepare frontend
      run: cd frontend && depot build
      shell: bash
