[package]
name = "aquascope"
version = "0.1.0"
edition = "2021"
authors = ["Gavin Gray <gavinleroy6@gmail.com>"]
repository = "https://github.com/gavinleroy/aquascope"
license = "MIT"

[package.metadata.rust-analyzer]
rustc_private = true

[dependencies]
anyhow = "1.0.0"
log = "0.4"
itertools = "0.10.5"
flowistry = "0.5.34"
serde = "1.0"
ts-rs = "6.1"

# interpret module
miri = {git = "https://github.com/rust-lang/miri.git", rev = "98ad06d856abb9b85ef1e3b234c2370076873b1b"}

# testing
lazy_static = "1.4"
regex = "1"

[dev-dependencies]
env_logger = "0.9.3"
insta = { version = "1.22.0", features = ["json", "yaml", "redactions"] }
test-log = "0.2.11"