@import "aquascope-editor/dist/lib.css";

.light, .rust {
  --code-bg: #f6f7f6;
}

.coal, .navy {
  --code-bg: #1d1f21;
}

.ayu {
  --code-bg: #191f26;
}

:root {
  --aq-fg: var(--fg);
  --aq-bg: var(--bg);

  --aq-button-border: var(--icons);
  --aq-button-text: var(--icons);
  --aq-button-background: var(--theme-popup-bg);
  --aq-button-border-hover: var(--icons-hover);
  --aq-button-text-hover: var(--sidebar-active);
  --aq-button-background-hover: var(--theme-hover);

  --aq-step-widget-text: var(--table-header-bg);
  --aq-step-table-text: var(--sidebar-fg);
  --aq-step-table-border: var(--table-header-bg);
  --aq-step-table-background: var(--sidebar-bg);
}

.aquascope {
  border: 2px dashed var(--theme-popup-border);

  .cm-editor {
    background-color: var(--code-bg);
  }

  .cm-scroller {
    line-height: inherit;
  }

  .cm-content {
    // Same as `pre > code` and `code` rules
    padding: 1rem;
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo,
      "DejaVu Sans Mono", monospace, monospace;
    font-size: 0.875em;
  }

  .cm-line {
    padding: 0;
  }

}

.interpreter {
  table {
    margin: 0;

    tbody tr:nth-child(2n) {
      background: inherit;
    }

    td {
      padding: 2px 4px;
    }
  }
}
