[package]
name = "aquascope_front"
version = "0.1.0"
license = "MIT"
edition = "2021"
authors = [
  "Will Crichton <wcrichto@cs.stanford.edu>",
  "Gavin Gray <gavinleroy6@gmail.com>"
]
repository = "https://github.com/cognitive-engineering-lab/aquascope"

[package.metadata.rust-analyzer]
rustc_private = true

[dependencies]
aquascope = {version = "0.1", path = "../aquascope"}
anyhow = "1"
log = "0.4"
flowistry = "0.5.34"
rustc_plugin = "0.5.34"
serde = {version = "1", features = ["derive"]}
serde_json = "1"
ts-rs = "6.2"
itertools = "0.10.5"
fluid-let = "1.0"

# For binaries
env_logger = {version = "0.9", default-features = false}
clap = {version = "3.1", default-features = false, features = ["std", "derive"]}
