name: aquascope

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
jobs:

  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/install@v0.1
        with:
          crate: cargo-insta
          version: latest
          use-tool-cache: true
      - uses: actions-rs/cargo@v1
        with:
          command: insta
          args: test --features=no-docker

    format:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - uses: mbrobbel/rustfmt-check@master
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
