name: aquascope

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
jobs:

  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/install@v0.1
        with:
          crate: cargo-insta
          version: latest
          use-tool-cache: true
      - run: npm install -g graco && cd frontend && graco prepare
      - run: cargo miri setup
      - uses: actions-rs/cargo@v1
        with:
          command: insta
          args: test --features=no-docker
