name: release

on:
  pull_request:
    branches: [main]
    types: [labeled,closed]

jobs:
  tag:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'release')
    steps:
    - uses: actions/checkout@v3
    - uses: christophebedard/tag-version-commit@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        version_regex: 'v([0-9]+\.[0-9]+\.[0-9]+)'
        version_tag_prefix: 'v'

  release-artifact:
    needs: tag
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Quick Setup
        uses: ./.github/workflows/quick-setup
      - name: Build artifact
        run: cargo build --release -p mdbook-aquascope -p aquascope_front
      - name: Package artifact
        run: tar -czf aquascope-x86_64-unknown-linux-gnu.tar.gz mdbook-aquascope cargo-aquascope aquascope-driver
        working-directory: target/release
      - name: Release artifact
        uses: softprops/action-gh-release@v1
        with:
          files: |
            target/release/maquascope-x86_64-unknown-linux-gnu.tar.gz
